/* Thanks to https://www.cs.cornell.edu/~shmat/ for styling! */
body {
	background: #000000;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	color: #bbb;
}

a:hover {
	color: #ffffff;
	text-decoration: underline;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.main {
	margin-top: 20px;
	margin-left: 10px;
	text-align: left;
}

.main h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ff9900;
	text-align: left;
	margin: 0;
	font-size: 100px;
	padding: 0px;
}
